<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="renderer" content="webkit">
    <link type="text/css"  rel="stylesheet" th:href="@{/resources/layui-2.4/css/layui.css}" />
</head>

<div th:fragment="footer">
    <script type="text/javascript" th:src="@{/resources/layui-2.4/layui.js}"></script>
  <!--  <script type="text/javascript" th:src="@{/resources/jquery-1.11.1/jquery-1.11.1.min.js}"></script>-->
</div>
</html>