<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft.platform.system.mapper.SysUserMapper" >
    <resultMap id="BaseResultMap" type="com.soft.platform.system.model.SysUser" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="fullname" property="fullName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    user_id, username, fullname
  </sql>
    <select id="findAllUsers" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_msjw_system_sysuser
    </select>
</mapper>